*.gz
*.o
*.a
**/g500
*.out
file*.r
**/run
eval/r-ify.sh
*.etf
*.0
*.trc
*.z
*.otf
*.ppk
*.slog2
*.edf
eval/tau.sh
eval/tau_clean.sh
cpu_2d/compression/benchintersection
cpu_2d/compression/benchsearch
cpu_2d/compression/bitpacking
cpu_2d/compression/budgetedtest
cpu_2d/compression/compflatstat
cpu_2d/compression/compress
cpu_2d/compression/entropy
cpu_2d/compression/simplesynth
cpu_2d/compression/testcodecs
cpu_2d/compression/testintegration
cpu_2d/compression/uncompress
cpu_2d/compression/unit
eval/r-compare.sh
